<%- include('../layouts/header') %> 

<h1 class="uk-heading-bullet uk-text-muted">ADD BOOKS</h1>

<form action="/book/add" method="POST" class="uk-form-stacked">
    <%- include('../partials/messages') %>
    <%- include('../partials/add-edit-form')  %> 
    <button type="submit" class="uk-button uk-button-primary">Create</button>
</form>

<%- include('../layouts/footer') %> 
