<%- include('../layouts/header') %> 

<h1 class="uk-text-center uk-heading-bullet"><span class="text-danger Nova-mono">GRABBED</span></h1>

<div class="uk-margin-remove">
    <div class="row">
        <%  book = grabbedBook %>      
        <%- include('../partials/book-cards') %>
    </div>
</div>

<%- include('../layouts/footer') %> 
