<%- include('../layouts/header') %> 

<h1 class="uk-text-center uk-heading-bullet"><span class="text-danger">PUBLISHED</span></h1>

<div class="uk-margin-medium-top">
    <%- include('../partials/messages') %>
    <div class="row">
        <%  book = publishedBook %>      
        <%- include('../partials/book-cards') %>
    </div>
</div>

<%- include('../layouts/footer') %> 
