<%- include('../layouts/header')  %> 

<div class="uk-width-2-3@s uk-align-center">
    <div class="uk-margin h4 text-muted Nova-mono">
        <%= readBook.bookName %> 
    </div>
    <div class="read">
        <%= readBook.tale %> 
    </div>
</div>

<%- include('../layouts/footer')  %> 
