<div class="row">        
        
        <div class="col-md-2 col-12">
            <label for="cover">Cover Image:</label> <br>
            <input type="file" name="cover" class="filepond cover">
        </div>

        <div class="col-md-5 col-12">
            <div class="uk-margin">
                <label for="bookName">Book Name:</label> <br>
                <input class="uk-input" type="text" name="bookName" value="<%= book.bookName %>" placeholder="Input">
            </div>

            <div class="uk-margin">
                <label for="language">Language:</label> <br>
                <input class="uk-input" type="text" name="bookLanguage" value="<%= book.bookLanguage %> " placeholder="Input">
            </div>

            <div class="uk-margin">
                <label for="genre">Genre:</label> <br>
                <select name="bookGenre" class="uk-select">
                    <option value="Horror">Horror</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Action">Action</option>
                    <option value="Self-motivation">Self-motivation</option>
                </select>
            </div>
        </div>

        <div class="col-md-5 col-12">
            <label for="description">Description:</label>
            <textarea class="uk-textarea" rows="5" name="bookDescription" maxlength="250" placeholder="Textarea"><%= book.bookDescription %></textarea>
        </div>

        
    </div>
    
    <div class="uk-margin">
        <label for="content">Write your Tale:</label>
        <textarea class="uk-textarea" rows="8" name="tale" placeholder="Textarea"><%= book.tale %></textarea>
    </div>