<%- include('../../layouts/header') %> 

<section id="latest">

    <h3 class="uk-heading-bullet uk-align-center uk-text-center"><span class="uk-text-danger Nova-mono">LATEST</span></h3>

    <div class="uk-margin-remove">
    <div class="row" >
        <%  book = latestBook %>      
        <%- include('../../partials/book-cards') %>
    </div>
    </div>

</section>

<%- include('../../layouts/footer') %> 
