
</div>

<footer>
    <div class="uk-container">
        <icons>
            <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
            <a href="#" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
            <a href="#" class="uk-icon-button  uk-margin-small-right" uk-icon="reddit"></a>
            <a href="#" class="uk-icon-button" uk-icon="google-plus"></a>
            <a href="#" class="uk-align-right uk-tile uk-tile-secondary mt-2" uk-totop uk-scroll></a>
        </icons>
        <resources>
            <div class="text-muted uk-margin-medium-top h3">
                Resources
            </div>
            <div uk-grid>
                <div>
                    <div>HTML5</div>
                    <div>CSS3</div>
                    <div>UI-kit</div>
                    <div>BootStrap4</div> 
                </div>
                <div>
                    <div>NodeJS</div> 
                    <div>Express</div>
                    <div>MongoDB(mongoose)</div>
                    <div>EJS</div>
                </div>
            </div>
        </resources>
        <div class="text-muted uk-margin-medium-top h3">
            Developed
        </div>
        <div>
            Code <span uk-icon="code"></span> by Aftab Mansoori
            <div class="small uk-margin">Visit my <a href="https://github.com/Terry-atb" class="text-muted">Github profile<span uk-icon="user"></span></a></div>
        </div>
        <hr> 
        <div class="uk-text-center">
            All rights are reserved @ <a href="https://github.com/Terry-atb" class="text-muted"><span uk-icon="user"></span>
        </div>
    </div>
</footer>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>