<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TELL-TALES</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!-- NAVBAR -->
    <section class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">TELL-TALES</a>

            <form class="uk-search uk-search-navbar">
              <span uk-search-icon></span>
              <input class="uk-search-input" type="search" placeholder="Search...">
            </form>

            <button class="uk-button uk-button-default text-muted ml-auto border-0" type="button" uk-toggle="target: #offcanvas-nav-primary"><span class="" uk-icon="icon: menu; ratio: 1.5"></span></button>
            
            <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
              <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical" uk-nav>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/">
                      <span uk-icon="icon: home"></span>
                      Home 
                    </a>
                  </li>
                  <li class="uk-parent">
                    <a class="nav-link" href="#">
                      <span uk-icon="icon: thumbnails"></span>
                        All Books
                    </a>
                    <!-- <div uk-dropdown="pos: bottom-center"> -->
                      <ul class="uk-nav-sub">
                          <li class="uk-nav-header">Genres</li>
                          <li><a href="/book/horror">Horror</a></li>
                          <li><a href="/book/fiction">Fiction</a></li>
                          <li><a href="/book/action">Action</a></li>
                          <li><a href="/book/self-motivation">Self-motivation</a></li>
                      </ul>
                    <!-- </div> -->
                  </li>

                  <li class="uk-parent">
                    <a href="" class="nav-link">
                      <span uk-icon="icon: file-text"></span>
                      Dashboard
                    </a>    
                    <!-- <div uk-dropdown="pos: bottom-center"> -->
                      <ul class="uk-nav-sub">
                        <li><a href="/user/dashboard">Dashboard</a></li>  
                        <li class="uk-nav-divider"></li>
                        <li><a href="/book/add">Create</a></li>
                        <li><a href="/book/published">Published</a></li>
                        <li><a href="/book/grabbed">Grabbed</a></li>
                      </ul>
                    <!-- </div> -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/profile">
                      <span uk-icon="icon: user"></span>
                      Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/logout">
                      <span uk-icon="icon: sign-out"></span>
                      LogOut
                    </a>
                  </li>  
            
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/user/login">
                      <span uk-icon="icon: sign-in"></span>
                      login
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/register">
                      register
                    </a>
                  </li>

                  


                </ul>              
              </div>
            </div>
        </nav>
    </section>

    <div class="uk-container uk-padding">