<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TELL-TALES</title>

    <!-- STYLESHEETS -->
    <!-- Filepond -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat&family=Itim&family=Luckiest+Guy&family=Nova+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />



</head>
<body>

  <div class="loader_bg">
    <div class="loader" uk-spinner="ratio: 2"></div>
  </div>

  <!-- NAVBAR -->
    <section class="sticky-top">

        <nav class="navbar navbar-dark bg-dark uk-visible@m uk-padding-remove-vertical" uk-navbar>

          <a class="navbar-brand logo Caveat" href="/">TELL-TALES</a>
          
          <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                
                <li class="nav-item">
                  <a class="nav-link" href="/">
                    <span uk-icon="icon: home"></span>
                    Home 
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span uk-icon="icon: thumbnails"></span>
                      Books
                  </a>
                  <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-center; offset: 0">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">Genres</li>
                      <li><a href="/book/horror">Horror</a></li>
                      <li><a href="/book/fiction">Fiction</a></li>
                      <li><a href="/book/action">Action</a></li>
                      <li><a href="/book/self-motivation">Self-motivation</a></li>
                    </ul>
                  </div>
                </li>   

                <% if (req.user) { 
                  let user = req.user
                %> 
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <span uk-icon="icon: file-text"></span>
                    Dashboard
                  </a>    
                  <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-center; offset: 0">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a href="/user/dashboard">Dashboard</a></li>  
                      <li class="uk-nav-divider"></li>
                      <li><a href="/book/add">Create</a></li>
                      <li><a href="/book/published">Published</a></li>
                      <li><a href="/book/grabbed">Grabbed</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/profile">
                    <span uk-icon="icon: user">
                    </span>
                    <%= user.username %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/logout">
                    <span uk-icon="icon: sign-out"></span>
                    LogOut
                  </a>
                </li>       
                <% } else { %> 
                <li class="nav-item">
                  <a class="nav-link text-muted" href="/user/login">
                    <span uk-icon="icon: sign-in"></span>
                    login
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="/user/register">
                    <span uk-icon="icon: user"></span>
                    register
                  </a>
                </li>
                <% } %> 
              </ul>          
          </div>

        </nav>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark uk-hidden@m">
            <a class="navbar-brand logo Caveat" href="/">TELL-TALES</a>

            <button class="uk-button uk-button-default bg-info uk-padding-remove border-0" type="button" uk-toggle="target: #offcanvas-nav-primary"><span class="text-white" uk-icon="icon: menu; ratio: 1.5"></span></button>
            
            <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
              <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical" uk-nav>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/">
                      <span uk-icon="icon: home"></span>
                      Home 
                    </a>
                  </li>
                  <li class="uk-parent">
                    <a class="nav-link" href="#">
                      <span uk-icon="icon: thumbnails"></span>
                        All Books
                    </a>
                    <!-- <div uk-dropdown="pos: bottom-center"> -->
                      <ul class="uk-nav-sub">
                          <li class="uk-nav-header">Genres</li>
                          <li><a href="/book/horror">Horror</a></li>
                          <li><a href="/book/fiction">Fiction</a></li>
                          <li><a href="/book/action">Action</a></li>
                          <li><a href="/book/self-motivation">Self-motivation</a></li>
                      </ul>
                    <!-- </div> -->
                  </li>
                  <% if (req.user) {
                    let user = req.user  
                   %>           
                  <li class="uk-parent">
                    <a href="" class="nav-link">
                      <span uk-icon="icon: file-text"></span>
                      Dashboard
                    </a>    
                    <!-- <div uk-dropdown="pos: bottom-center"> -->
                      <ul class="uk-nav-sub">
                        <li><a href="/user/dashboard">Dashboard</a></li>  
                        <li class="uk-nav-divider"></li>
                        <li><a href="/book/add">Create</a></li>
                        <li><a href="/book/published">Published</a></li>
                        <li><a href="/book/grabbed">Grabbed</a></li>
                      </ul>
                    <!-- </div> -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/profile">
                      <span uk-icon="icon: user"></span>
                      <%= user.username %>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/logout">
                      <span uk-icon="icon: sign-out"></span>
                      LogOut
                    </a>
                  </li>      
                  <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link text-muted" href="/user/login">
                      <span uk-icon="icon: sign-in"></span>
                      login
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-muted" href="/user/register">
                      <span uk-icon="icon: user"></span>
                      register
                    </a>
                  </li>
                  <% } %> 
                </ul>              
              </div>
            </div>  

        </nav>
    </section>
    
    <div class="uk-width-3-4  uk-align-center">

      