<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TELL-TALES</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!-- NAVBAR -->
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">TELL-TALES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">
                    <span uk-icon="icon: home"></span>
                    Home 
                  </a>
                </li>
                <li class="nav-item">
                  <p class="nav-link uk-inline">
                    <span uk-icon="icon: thumbnails"></span>
                      All Books
                    </p>
                  <div uk-dropdown="pos: bottom-center">
                    <ul class="uk-nav uk-dropdown-nav">
                      
                        <li class="uk-nav-header">Genres</li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Fiction</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Self-motivation</a></li>
                      
                    </ul>
                  </div>
                </li>
                
                <li class="nav-item">
                  <p class="nav-link">
                    <span uk-icon="icon: file-text"></span>
                    Dashboard
                  </p>    
                  <div uk-dropdown="pos: bottom-center">
                    <ul class="uk-nav uk-dropdown-nav">
                      <li><a href="/user/dashboard">Dashboard</a></li>  
                      <li class="uk-nav-divider"></li>
                      <li><a href="/book/add">Create</a></li>
                      <li><a href="/book/published">Published</a></li>
                      <li><a href="/book/grabbed">Grabbed</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item uk-inline">
                  <a class="nav-link" href="/user/profile">
                    <span uk-icon="icon: user"></span>
                    Profile
                  </a>
                </li>
                <li class="nav-item uk-inline">
                  <a class="nav-link" href="/user/logout">
                    <span uk-icon="icon: sign-out"></span>
                    LogOut
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/user/login">
                    <span uk-icon="icon: sign-in"></span>
                    login
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/register">
                    register
                  </a>
                </li>
                 
              </ul>              
            </div>
          </nav>
    </section>

    <div class="uk-container uk-padding">