<%- include('../layouts/header') %> 

<h1 class="uk-text-center uk-heading-bullet"><span class="text-light">DASHBOARD</span></h1>

<section>

<h3 class="uk-margin-medium-top uk-heading-bullet"><span class="uk-text-danger">PUBLISHED</span></h3>

<div class="mt-3">
    <div class="row">
        <%  book = bookCreated %>      
        <%- include('../partials/book-cards') %>
    </div>
</div>

</section>

<section>

<h3 class="uk-heading-bullet uk-margin-large-top"><span class="uk-text-danger">GRABBED</span></h3>

<div class="mt-3">
    <div class="row">
        <%  book = bookGrabbed %>      
        <%- include('../partials/book-cards') %>
    </div>
</div>

</section>


<%- include('../layouts/footer') %> 
